body{
    background-color: rgb(182, 182, 245);
    
}

h1{
    color: rgb(253, 247, 247);
    text-align: center;
    font-size: 500%;
    
}

ul {
    list-style-type: none;
    
}

li {
    display: inline;
    margin-right: 350px;
   
    
    
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 20px;
}


#imagenes {
    width:450px ;
    height:360px ;
    
   
}

#footer { 
    background-color:rgb(154, 154, 240) ;

}


#p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





































